In [1]:
# Import Dependencies
import pandas as pd

In [45]:
# Create reference to CSV file
#csv_path = "../Resources/Metro_Interstate_Traffic_Volume.csv"
csv_path = "Metro_Interstate_Traffic_Volume.csv"
# Import the CSV into a pandas DataFrame
Traffic_Volume_df = pd.read_csv(csv_path)
Traffic_Volume_df = pd.read_csv(csv_path)
Traffic_Volume_df.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,NaN,288.28,0.0,0.0,40,Clouds,scattered clouds,2012-10-02 09:00:00,5545
1,NaN,289.36,0.0,0.0,75,Clouds,broken clouds,2012-10-02 10:00:00,4516
2,NaN,289.58,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 11:00:00,4767
3,NaN,290.13,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 12:00:00,5026
4,NaN,291.14,0.0,0.0,75,Clouds,broken clouds,2012-10-02 13:00:00,4918

In [46]:
Traffic_Volume_df.dtypes

holiday                 object
temp                   float64
rain_1h                float64
snow_1h                float64
clouds_all               int64
weather_main            object
weather_description     object
date_time               object
traffic_volume           int64
dtype: object

In [47]:
#Convet Kelvin to Fahrenheit
#Run only once, if you see -ve values in temp, refresh df.

def Kel_to_Far(x):
    return(x - 273.15) * 9/5 + 32

Traffic_Volume_df['temp']=Traffic_Volume_df['temp'].apply(lambda x : Kel_to_Far(x))
Traffic_Volume_df.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,NaN,59.234,0.0,0.0,40,Clouds,scattered clouds,2012-10-02 09:00:00,5545
1,NaN,61.178,0.0,0.0,75,Clouds,broken clouds,2012-10-02 10:00:00,4516
2,NaN,61.574,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 11:00:00,4767
3,NaN,62.564,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 12:00:00,5026
4,NaN,64.382,0.0,0.0,75,Clouds,broken clouds,2012-10-02 13:00:00,4918

In [48]:
#idetify incomplete rows
Traffic_Volume_df.count()

holiday                   61
temp                   48204
rain_1h                48204
snow_1h                48204
clouds_all             48204
weather_main           48204
weather_description    48204
date_time              48204
traffic_volume         48204
dtype: int64

Holidy count shows 61, indicates 48204-61 = 48143 are non-holidays.
Need to replace Null values in holiyday column to NonHoliday

In [53]:
#Replace Null values to NonHoliday
#Traffic_Volume_df['holiday'] = Traffic_Volume_df['holiday'].replace({'NaN': 'NonHoliday'})
Traffic_Volume_df['holiday'].fillna('NonHoliday',inplace=True)
Traffic_Volume_df.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,NonHoliday,59.234,0.0,0.0,40,Clouds,scattered clouds,2012-10-02 09:00:00,5545
1,NonHoliday,61.178,0.0,0.0,75,Clouds,broken clouds,2012-10-02 10:00:00,4516
2,NonHoliday,61.574,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 11:00:00,4767
3,NonHoliday,62.564,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 12:00:00,5026
4,NonHoliday,64.382,0.0,0.0,75,Clouds,broken clouds,2012-10-02 13:00:00,4918

In [56]:
#Check if NaNs are replaced with NonHoliday
Traffic_Volume_df.count()

holiday                48204
temp                   48204
rain_1h                48204
snow_1h                48204
clouds_all             48204
weather_main           48204
weather_description    48204
date_time              48204
traffic_volume         48204
dtype: int64

In [9]:
# Collect a list of all the unique values in "holiday"
Traffic_Volume_df["holiday"].unique()

array([nan, 'Columbus Day', 'Veterans Day', 'Thanksgiving Day',
       'Christmas Day', 'New Years Day', 'Washingtons Birthday',
       'Memorial Day', 'Independence Day', 'State Fair', 'Labor Day',
       'Martin Luther King Jr Day'], dtype=object)

In [10]:
# Collect a list of all the unique values in "weather_description"
Traffic_Volume_df["weather_description"].unique()

array(['scattered clouds', 'broken clouds', 'overcast clouds',
       'sky is clear', 'few clouds', 'light rain',
       'light intensity drizzle', 'mist', 'haze', 'fog',
       'proximity shower rain', 'drizzle', 'moderate rain',
       'heavy intensity rain', 'proximity thunderstorm',
       'thunderstorm with light rain', 'proximity thunderstorm with rain',
       'heavy snow', 'heavy intensity drizzle', 'snow',
       'thunderstorm with heavy rain', 'freezing rain', 'shower snow',
       'light rain and snow', 'light intensity shower rain', 'SQUALLS',
       'thunderstorm with rain', 'proximity thunderstorm with drizzle',
       'thunderstorm', 'Sky is Clear', 'very heavy rain',
       'thunderstorm with light drizzle', 'light snow',
       'thunderstorm with drizzle', 'smoke', 'shower drizzle',
       'light shower snow', 'sleet'], dtype=object)

In [11]:
Traffic_Volume_df.describe()

               temp       rain_1h       snow_1h    clouds_all  traffic_volume
count  48204.000000  48204.000000  48204.000000  48204.000000    48204.000000
mean     281.205870      0.334264      0.000222     49.362231     3259.818355
std       13.338232     44.789133      0.008168     39.015750     1986.860670
min        0.000000      0.000000      0.000000      0.000000        0.000000
25%      272.160000      0.000000      0.000000      1.000000     1193.000000
50%      282.450000      0.000000      0.000000     64.000000     3380.000000
75%      291.806000      0.000000      0.000000     90.000000     4933.000000
max      310.070000   9831.300000      0.510000    100.000000     7280.000000

In [57]:
#display max value from each column
#If DF contains numberical value, it will show maximum numerical value from the coulumn
#If DF contains non-numeric value(like strings), it will show maximum value based on lexicographical order (i.e the last value alphabetically)
Traffic_Volume_df.max()

holiday                Washingtons Birthday
temp                                 98.456
rain_1h                              9831.3
snow_1h                                0.51
clouds_all                              100
weather_main                   Thunderstorm
weather_description         very heavy rain
date_time               2018-09-30 23:00:00
traffic_volume                         7280
dtype: object

In [72]:
max_traffic_volume_index = Traffic_Volume_df['traffic_volume'].idxmax()
#print(max_traffic_volume_index)
max_traffice_volume_row = Traffic_Volume_df.loc[max_traffic_volume_index,:]


print ( "Diplay information when Traffic_Volume was maximum")
print(max_traffice_volume_row)

Diplay information when Traffic_Volume was maximum
holiday                         NonHoliday
temp                                 27.68
rain_1h                                0.0
snow_1h                                0.0
clouds_all                              90
weather_main                        Clouds
weather_description        overcast clouds
date_time              2017-03-09 16:00:00
traffic_volume                        7280
Name: 31615, dtype: object

In [5]:
# Create a new DataFrame that only includes electricity usage for tenant owned units.
electricity_df = consumption_df.loc[(consumption_df["Utility"] == "Electricity") &
                                    (consumption_df["Owner"] == "Tenant"), :]
electricity_df.head()

    Year  Month Number Month      Utility   Owner Units       Usage
4   2013             1   Jan  Electricity  Tenant   kWh  14002156.0
11  2013             2   Feb  Electricity  Tenant   kWh  12631776.0
18  2013             3   Mar  Electricity  Tenant   kWh  13894596.0
25  2013             4   Apr  Electricity  Tenant   kWh  13548377.0
32  2013             5   May  Electricity  Tenant   kWh  13646478.0

In [6]:
# Sort the DataFrame by the values in the "Usage" column to find the months
# with the highest usage
electricity_df = electricity_df.sort_values(by="Usage", ascending=False)

# Reset the index so that the index is now based on the sorting locations
electricity_df = electricity_df.reset_index(drop=True)

electricity_df.head()

   Year  Month Number Month      Utility   Owner Units        Usage
0  2015             8   Aug  Electricity  Tenant   kWh  14248996.00
1  2013             7   Jul  Electricity  Tenant   kWh  14213208.26
2  2013             1   Jan  Electricity  Tenant   kWh  14002156.00
3  2014             8   Aug  Electricity  Tenant   kWh  13953716.00
4  2013            10   Oct  Electricity  Tenant   kWh  13933761.00

In [9]:
# Save all of the information collected on the highest usage month
highest_month = electricity_df.iloc[0, :]
highest_month

Year                   2015
Month Number              8
Month                   Aug
Utility         Electricity
Owner                Tenant
Units                   kWh
Usage            14248996.0
Name: 0, dtype: object

In [10]:
# Show some basic summary statistics for the whole DataFrame
electricity_df.describe()

              Year  Month Number         Usage
count    80.000000     80.000000  8.000000e+01
mean   2015.850000      6.300000  1.294386e+07
std       1.942854      3.428843  6.794222e+05
min    2013.000000      1.000000  1.115129e+07
25%    2014.000000      3.000000  1.244844e+07
50%    2016.000000      6.000000  1.305550e+07
75%    2017.250000      9.000000  1.345241e+07
max    2019.000000     12.000000  1.424900e+07

In [8]:
# Find the average usage

electricity_df['Usage'].mean()

12943861.133249996

In [12]:
# Find the total usage from all Augusts on record

electricity_df.loc[electricity_df['Month'] == 'Aug', 'Usage'].sum()

93014021.39999999